<mat-card>
  <mat-card-title>Contact</mat-card-title>
  <mat-card-subtitle>If you want to report a missing Pokémon, please use this form:</mat-card-subtitle>

  <mat-card-content>
      <form #f="ngForm" (ngSubmit)="sendMail(f.value)">
          <p>
            <mat-form-field>
              <input matInput placeholder="Email" type="string" name="email" ngModel>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Pokémon" type="string" name="pokemonName" ngModel>
            </mat-form-field>
          </p>
          <p>
            <mat-form-field>
              <input matInput placeholder="Type" type="string" name="pokemonType" ngModel>
            </mat-form-field>
          </p>
          <button mat-raised-button color="primary">Send</button>
      </form>
  </mat-card-content>
</mat-card>
